Repository fffflo/cozy-libs, changes with the owners that CODEOWNERS names for each.
All owners: @edas, @drazik, @Crash--, @y-lohse, @doubleface, @ptbrowne

CODEOWNERS:

packages/babel-preset-cozy-app @edas @drazik
packages/browserslist-config-cozy @edas @Crash--
packages/commitlint-config-cozy @y-lohse
packages/cozy-app-publish @y-lohse @doubleface
packages/cozy-ci @y-lohse
packages/cozy-device-helper @ptbrowne
packages/cozy-doctypes @ptbrowne @drazik
packages/cozy-flags @ptbrowne @drazik
packages/cozy-harvest-lib @Crash-- @y-lohse
packages/cozy-interapp @Crash-- @y-lohse
packages/cozy-realtime @edas @ptbrowne
packages/cozy-release @doubleface
packages/eslint-config-cozy-app @edas @drazik
packages/renovate-config-cozy @y-lohse @doubleface
packages/cozy-logger @doubleface

feat: Add translations
  packages/cozy-harvest-lib/src/components/VaultCiphersList/OtherAccountListItem.jsx
  packages/cozy-harvest-lib/src/components/VaultCiphersList/index.jsx
  packages/cozy-harvest-lib/src/locales/en.json
Owners: @Crash--, @y-lohse

fix: Don't manually sync vault when loading ciphers
  packages/cozy-harvest-lib/src/components/VaultCiphersList/index.jsx
Owners: @Crash--, @y-lohse

chore: Cozy-keys-lib is only a peer and dev dep
  packages/cozy-harvest-lib/package.json
  yarn.lock
Owners: @Crash--, @y-lohse

fix: Don't pass wrong props to ListItem
  packages/cozy-harvest-lib/src/components/VaultCiphersList/OtherAccountListItem.jsx
Owners: @Crash--, @y-lohse

fix: Misspelled propTypes
  packages/cozy-harvest-lib/src/components/VaultCiphersList/CiphersListItem.jsx
Owners: @Crash--, @y-lohse

fix: Use transpiled cozy-ui everywhere
  packages/cozy-harvest-lib/src/components/KonnectorUpdateLinker.jsx
  packages/cozy-harvest-lib/src/components/infos/KonnectorUpdateInfos.jsx
Owners: @Crash--, @y-lohse

chore(jest): Remove styles from moduleNameMapper
  packages/cozy-harvest-lib/jest.config.js
Owners: @Crash--, @y-lohse

feat: Fill account form fields with cipher infos
  packages/cozy-harvest-lib/src/components/TriggerManager.jsx
  packages/cozy-harvest-lib/src/components/VaultCiphersList/index.jsx
Owners: @Crash--, @y-lohse

Update dependency cross-spawn to v7
  packages/cozy-app-publish/package.json
  yarn.lock
Owners: @y-lohse, @doubleface

Update dependency @material-ui/core to v4
  packages/cozy-procedures/package.json
  packages/playgrounds/package.json
  yarn.lock
Owners: none

Update dependency cozy-ui to v22.14.1
  packages/cozy-authentication/package.json
  packages/cozy-harvest-lib/package.json
  packages/cozy-procedures/package.json
  packages/playgrounds/package.json
  yarn.lock
Owners: @Crash--, @y-lohse

Update dependency webpack to v4.41.0
  package.json
  packages/cozy-mjml/package.json
  yarn.lock
Owners: none

Update babel monorepo
  package.json
  packages/babel-preset-cozy-app/package.json
  packages/commitlint-config-cozy/package.json
  packages/cozy-authentication/package.json
  packages/cozy-device-helper/package.json
  packages/cozy-doctypes/package.json
  packages/cozy-flags/package.json
  packages/cozy-harvest-lib/package.json
  packages/cozy-interapp/package.json
  packages/cozy-notifications/package.json
  packages/cozy-procedures/package.json
  packages/cozy-realtime/package.json
  packages/eslint-config-cozy-app/package.json
  yarn.lock
Owners: @edas, @drazik, @y-lohse, @ptbrowne, @Crash--

Update jest monorepo to v24.9.0
  packages/browserslist-config-cozy/package.json
  packages/commitlint-config-cozy/package.json
  packages/cozy-app-publish/package.json
  packages/cozy-authentication/package.json
  packages/cozy-codeshifts/package.json
  packages/cozy-device-helper/package.json
  packages/cozy-harvest-lib/package.json
  packages/cozy-interapp/package.json
  packages/cozy-mjml/package.json
  packages/cozy-procedures/package.json
  packages/cozy-realtime/package.json
  yarn.lock
Owners: @edas, @Crash--, @y-lohse, @doubleface, @ptbrowne

Update commitlint monorepo to v8
  packages/commitlint-config-cozy/package.json
  yarn.lock
Owners: @y-lohse

Pin dependencies
  package.json
  packages/cozy-authentication/package.json
  packages/cozy-codeshifts/package.json
  packages/cozy-harvest-lib/package.json
  packages/cozy-logger/package.json
  packages/cozy-notifications/package.json
  packages/cozy-procedures/package.json
  packages/playgrounds/package.json
  yarn.lock
Owners: @Crash--, @y-lohse, @doubleface

Update dependency mjml to v4.5.1
  packages/cozy-mjml/package.json
  packages/cozy-notifications/package.json
  yarn.lock
Owners: none

Update dependency husky to v3
  package.json
  yarn.lock
Owners: none

Update dependency date-fns to v2
  packages/cozy-authentication/package.json
  packages/cozy-doctypes/package.json
  packages/cozy-harvest-lib/package.json
  packages/cozy-procedures/package.json
  yarn.lock
Owners: @ptbrowne, @drazik, @Crash--, @y-lohse

Update react monorepo to v16.10.1
  packages/cozy-authentication/package.json
  packages/cozy-harvest-lib/package.json
  packages/cozy-procedures/package.json
  yarn.lock
Owners: @Crash--, @y-lohse

Update dependency cozy-ui to v24.5.0
  packages/cozy-authentication/package.json
  packages/cozy-harvest-lib/package.json
  packages/cozy-notifications/package.json
  packages/cozy-procedures/package.json
  packages/playgrounds/package.json
  yarn.lock
Owners: @Crash--, @y-lohse

Update dependency eslint to v6
  packages/eslint-config-cozy-app/package.json
  yarn.lock
Owners: @edas, @drazik

feat(Scanner): Add Scanner module
  packages/cozy-scanner/babel.config.js
  packages/cozy-scanner/package.json
  packages/cozy-scanner/preprocess.js
  packages/cozy-scanner/src/CategoryGridItem.jsx
  packages/cozy-scanner/src/DocumentCategory.jsx
  packages/cozy-scanner/src/DocumentQualification.jsx
  packages/cozy-scanner/src/DocumentTypeData.js
  packages/cozy-scanner/src/EditDocumentQualification.jsx
  packages/cozy-scanner/src/Scanner.jsx
  packages/cozy-scanner/src/ScannerQualification.jsx
  packages/cozy-scanner/src/index.jsx
  packages/cozy-scanner/src/styles.styl
  packages/cozy-scanner/src/withOffline.jsx
  yarn.lock
Owners: none

fix: Use transpiled version of ui
  packages/cozy-scanner/src/CategoryGridItem.jsx
  packages/cozy-scanner/src/DocumentCategory.jsx
  packages/cozy-scanner/src/DocumentQualification.jsx
  packages/cozy-scanner/src/EditDocumentQualification.jsx
  packages/cozy-scanner/src/Scanner.jsx
  packages/cozy-scanner/src/ScannerQualification.jsx
Owners: none

feat: Export translated component
  packages/cozy-scanner/package.json
  packages/cozy-scanner/src/index.jsx
  packages/cozy-scanner/src/locales/en.json
  packages/cozy-scanner/src/locales/fr.json
  packages/cozy-scanner/src/withLocales.jsx
Owners: none

fix: Upgrade UI
  packages/cozy-scanner/package.json
  packages/cozy-scanner/src/EditDocumentQualification.jsx
  packages/cozy-scanner/src/Scanner.jsx
  packages/cozy-scanner/src/ScannerQualification.jsx
  packages/cozy-scanner/src/withOffline.jsx
Owners: none

fix: Alerter t context
  packages/cozy-scanner/src/EditDocumentQualification.jsx
  packages/cozy-scanner/src/ScannerQualification.jsx
Owners: none

feat: Expose component
  packages/cozy-scanner/src/index.jsx
Owners: none

docs: Pense bête
  packages/cozy-scanner/Readme.md
Owners: none

feat: Export boundT to use it on Drive
  packages/cozy-scanner/src/index.jsx
  packages/cozy-scanner/src/locales/index.js
Owners: none

fix: Better filename for selected item
  packages/cozy-scanner/src/DocumentQualification.jsx
Owners: none

test: Add a few tests
  packages/cozy-scanner/babel-transformer.js
  packages/cozy-scanner/package.json
  packages/cozy-scanner/src/CategoryGridItem.spec.jsx
  packages/cozy-scanner/src/DocumentCategory.spec.jsx
  packages/cozy-scanner/src/DocumentQualification.jsx
  packages/cozy-scanner/src/DocumentQualification.spec.jsx
  packages/cozy-scanner/src/__snapshots__/CategoryGridItem.spec.jsx.snap
  packages/cozy-scanner/src/__snapshots__/DocumentCategory.spec.jsx.snap
  packages/cozy-scanner/src/__snapshots__/DocumentQualification.spec.jsx.snap
  packages/cozy-scanner/test/__mocks__/fileMock.js
  yarn.lock
Owners: none

fix: Few comments / lang
  packages/cozy-scanner/package.json
  packages/cozy-scanner/src/DocumentCategory.jsx
  packages/cozy-scanner/src/DocumentQualification.jsx
  packages/cozy-scanner/src/Scanner.jsx
  packages/cozy-scanner/src/ScannerQualification.jsx
  packages/cozy-scanner/src/locales/en.json
Owners: none

fix: Rename qualify to describe
  packages/cozy-scanner/src/DocumentQualification.jsx
  packages/cozy-scanner/src/DocumentQualification.spec.jsx
  packages/cozy-scanner/src/EditDocumentQualification.jsx
  packages/cozy-scanner/src/ScannerQualification.jsx
Owners: none

refactor: Better data structure
  packages/cozy-scanner/src/DocumentQualification.jsx
  packages/cozy-scanner/src/DocumentTypeData.js
  packages/cozy-scanner/src/DocumentTypeDataHelpers.js
  packages/cozy-scanner/src/EditDocumentQualification.jsx
Owners: none

test: Few tests
  packages/cozy-scanner/src/CategoryGridItem.spec.jsx
  packages/cozy-scanner/src/DocumentQualification.spec.jsx
  packages/cozy-scanner/src/DocumentTypeDataHelpers.js
  packages/cozy-scanner/src/DocumentTypeDataHelpers.spec.jsx
  packages/cozy-scanner/src/__snapshots__/CategoryGridItem.spec.jsx.snap
Owners: none

fix: Lint
  packages/cozy-scanner/src/EditDocumentQualification.jsx
  packages/cozy-scanner/src/Scanner.jsx
  packages/cozy-scanner/src/ScannerQualification.jsx
Owners: none

refactor: Use doctypes helpers
  packages/cozy-scanner/package.json
  packages/cozy-scanner/src/Scanner.jsx
Owners: none

docs: Add readme
  packages/cozy-scanner/Readme.md
Owners: none

Update en.json
  packages/cozy-harvest-lib/src/locales/en.json
Owners: @Crash--, @y-lohse
