Repository fffflo/cozy-libs, changes with the owners that CODEOWNERS names for each.
All owners: @edas, @drazik, @Crash--, @y-lohse, @doubleface, @ptbrowne

[skip ci] Publish
  packages/cozy-harvest-lib/CHANGELOG.md
  packages/cozy-harvest-lib/package.json
Owners: @Crash--, @y-lohse

[skip ci] Publish
  packages/cozy-doctypes/CHANGELOG.md
  packages/cozy-doctypes/package.json
  packages/cozy-harvest-lib/CHANGELOG.md
  packages/cozy-harvest-lib/package.json
  packages/cozy-logger/CHANGELOG.md
  packages/cozy-logger/package.json
  packages/playgrounds/CHANGELOG.md
  packages/playgrounds/package.json
Owners: @ptbrowne, @drazik, @Crash--, @y-lohse, @doubleface

chore: Remove out of date Maintainers sections
  packages/cozy-realtime/README.md
Owners: @edas, @ptbrowne

[skip ci] Publish
  packages/cozy-realtime/CHANGELOG.md
  packages/cozy-realtime/package.json
Owners: @edas, @ptbrowne

[skip ci] Publish
  packages/cozy-harvest-lib/CHANGELOG.md
  packages/cozy-harvest-lib/package.json
Owners: @Crash--, @y-lohse

chore(cozy-harvest-lib): Upgrade CozyUI
  packages/cozy-harvest-lib/package.json
  packages/cozy-harvest-lib/test/components/__snapshots__/AccountField.spec.js.snap
  packages/cozy-harvest-lib/test/components/__snapshots__/TwoFAForm.spec.js.snap
  yarn.lock
Owners: @Crash--, @y-lohse

[skip ci] Publish
  packages/cozy-harvest-lib/CHANGELOG.md
  packages/cozy-harvest-lib/package.json
Owners: @Crash--, @y-lohse

fix(cozy-harvest-lib): Check if accountLogin is not undefined
  packages/cozy-harvest-lib/src/components/AccountsList/AccountsListItem.jsx
  packages/cozy-harvest-lib/test/components/AccountsList/AccountsListItem.spec.js
  packages/cozy-harvest-lib/test/components/AccountsList/__snapshots__/AccountsListItem.spec.js.snap
Owners: @Crash--, @y-lohse

Update dependency cozy-ui to v22.12.0
  packages/cozy-authentication/package.json
  packages/cozy-procedures/package.json
  packages/playgrounds/package.json
  yarn.lock
Owners: none

[skip ci] Publish
  packages/cozy-authentication/CHANGELOG.md
  packages/cozy-authentication/package.json
  packages/cozy-procedures/CHANGELOG.md
  packages/cozy-procedures/package.json
  packages/playgrounds/CHANGELOG.md
  packages/playgrounds/package.json
Owners: none

feat: Display erro
  packages/cozy-harvest-lib/src/components/KonnectorAccounts.jsx
  packages/cozy-harvest-lib/src/locales/en.json
Owners: @Crash--, @y-lohse

feat: Display error message on AccountModal
  packages/cozy-harvest-lib/src/components/AccountModal.jsx
  packages/cozy-harvest-lib/src/components/KonnectorAccounts.jsx
Owners: @Crash--, @y-lohse

fix: Display KonnectorHeader only if error or loading
  packages/cozy-harvest-lib/src/components/KonnectorAccounts.jsx
Owners: @Crash--, @y-lohse

fix: Display content only if no error
  packages/cozy-harvest-lib/src/components/AccountModal.jsx
Owners: @Crash--, @y-lohse

fix: Rename component
  packages/cozy-harvest-lib/src/components/EditAccountModal.jsx
Owners: @Crash--, @y-lohse

Update commitlint monorepo
  packages/commitlint-config-cozy/package.json
  yarn.lock
Owners: @y-lohse

Update dependency lerna to v3.16.4
  package.json
  yarn.lock
Owners: none

feat: Show ciphers in a list
  packages/cozy-harvest-lib/babel.config.js
  packages/cozy-harvest-lib/package.json
  packages/cozy-harvest-lib/src/assets/icon-keychain.svg
  packages/cozy-harvest-lib/src/components/KonnectorIcon.jsx
  packages/cozy-harvest-lib/src/components/Routes.jsx
  packages/cozy-harvest-lib/src/components/TriggerManager.jsx
  packages/cozy-harvest-lib/src/components/VaultCiphersList/CipherIcon.jsx
  packages/cozy-harvest-lib/src/components/VaultCiphersList/index.jsx
  yarn.lock
Owners: @Crash--, @y-lohse

feat: Handle loading state
  packages/cozy-harvest-lib/src/components/VaultCiphersList/index.jsx
Owners: @Crash--, @y-lohse

feat: Spacing between title and list
  packages/cozy-harvest-lib/src/components/VaultCiphersList/index.jsx
Owners: @Crash--, @y-lohse

feat: Use cipher's id as key
  packages/cozy-harvest-lib/src/components/VaultCiphersList/index.jsx
Owners: @Crash--, @y-lohse

fix: CipherIcon konnector prop is an object
  packages/cozy-harvest-lib/src/components/VaultCiphersList/CipherIcon.jsx
Owners: @Crash--, @y-lohse

refactor: Use RaisedList from cozy-ui
  packages/cozy-harvest-lib/src/components/VaultCiphersList/index.jsx
Owners: @Crash--, @y-lohse

Update dependency redux-starter-kit to v0.7.0
  packages/cozy-procedures/package.json
  yarn.lock
Owners: none

feat: Show ciphers in a list
  packages/cozy-harvest-lib/babel.config.js
  packages/cozy-harvest-lib/package.json
  packages/cozy-harvest-lib/src/assets/icon-keychain.svg
  packages/cozy-harvest-lib/src/components/KonnectorIcon.jsx
  packages/cozy-harvest-lib/src/components/Routes.jsx
  packages/cozy-harvest-lib/src/components/TriggerManager.jsx
  packages/cozy-harvest-lib/src/components/VaultCiphersList/CipherIcon.jsx
  packages/cozy-harvest-lib/src/components/VaultCiphersList/index.jsx
  yarn.lock
Owners: @Crash--, @y-lohse

feat: Handle loading state
  packages/cozy-harvest-lib/src/components/VaultCiphersList/index.jsx
Owners: @Crash--, @y-lohse

feat: Use cipher's id as key
  packages/cozy-harvest-lib/src/components/VaultCiphersList/index.jsx
Owners: @Crash--, @y-lohse

feat: Spacing between title and list
  packages/cozy-harvest-lib/src/components/VaultCiphersList/index.jsx
Owners: @Crash--, @y-lohse

refactor: Use RaisedList from cozy-ui
  packages/cozy-harvest-lib/src/components/VaultCiphersList/index.jsx
Owners: @Crash--, @y-lohse

chore: Fix yarn.lock
  yarn.lock
Owners: none

fix: CipherIcon konnector prop is an object
  packages/cozy-harvest-lib/src/components/VaultCiphersList/CipherIcon.jsx
Owners: @Crash--, @y-lohse

chore: Add cozy-keys-lib as peer dep
  packages/cozy-harvest-lib/package.json
  yarn.lock
Owners: @Crash--, @y-lohse

chore: Update cozy-ui to v23.2.0
  packages/cozy-harvest-lib/package.json
  packages/cozy-harvest-lib/test/components/__snapshots__/AccountField.spec.js.snap
  yarn.lock
Owners: @Crash--, @y-lohse

feat: Update NewAccountModal style
  packages/cozy-harvest-lib/src/components/NewAccountModal.jsx
Owners: @Crash--, @y-lohse

feat: Show account form when selecting 'other account' in ciphers list
  packages/cozy-harvest-lib/src/components/TriggerManager.jsx
  packages/cozy-harvest-lib/src/components/VaultCiphersList/index.jsx
Owners: @Crash--, @y-lohse

feat: Add a button to go back to ciphers list
  packages/cozy-harvest-lib/src/components/BackButton.jsx
  packages/cozy-harvest-lib/src/components/TriggerManager.jsx
Owners: @Crash--, @y-lohse

refactor: Extract CiphersListItem and OtherAccountListItem
  packages/cozy-harvest-lib/src/components/VaultCiphersList/CiphersListItem.jsx
  packages/cozy-harvest-lib/src/components/VaultCiphersList/OtherAccountListItem.jsx
  packages/cozy-harvest-lib/src/components/VaultCiphersList/index.jsx
Owners: @Crash--, @y-lohse

refactor: Make impossible state impossible
  packages/cozy-harvest-lib/src/components/TriggerManager.jsx
Owners: @Crash--, @y-lohse

refactor: Use CipherIcon from cozy-ui
  packages/cozy-harvest-lib/package.json
  packages/cozy-harvest-lib/src/components/VaultCiphersList/CipherIcon.jsx
  packages/cozy-harvest-lib/src/components/VaultCiphersList/CiphersListItem.jsx
  yarn.lock
Owners: @Crash--, @y-lohse

chore: Add eslint disable for console.warn
  packages/cozy-harvest-lib/src/components/VaultCiphersList/index.jsx
Owners: @Crash--, @y-lohse

CODEOWNERS:

packages/babel-preset-cozy-app @edas @drazik
packages/browserslist-config-cozy @edas @Crash--
packages/commitlint-config-cozy @y-lohse
packages/cozy-app-publish @y-lohse @doubleface
packages/cozy-ci @y-lohse
packages/cozy-device-helper @ptbrowne
packages/cozy-doctypes @ptbrowne @drazik
packages/cozy-flags @ptbrowne @drazik
packages/cozy-harvest-lib @Crash-- @y-lohse
packages/cozy-interapp @Crash-- @y-lohse
packages/cozy-realtime @edas @ptbrowne
packages/cozy-release @doubleface
packages/eslint-config-cozy-app @edas @drazik
packages/renovate-config-cozy @y-lohse @doubleface
packages/cozy-logger @doubleface
